<% if (session[:user_role] != nil) %>
  
  <ul class="nav nav-list well">
    <li class="nav-header">Depot</li>
  <li><%= link_to image_tag( "home.png", :border => 0, :align => "top" ) + " " + t('.tab_home'), home_path %></li>
   <li><%= link_to image_tag( "reports.png", :border => 0, :align => "top" ) + " " + t('.tab_reports'), home_path %></li>
  <br/>
  
  <li class="nav-header">Depots</li>
  <ul class="nav">
  <li><%= link_to image_tag( "depots.png", :border => 0, :align => "top" ) + " " + t('.tab_projects'), depots_path %></li>
  </ul>
  
  <% if (session[:user_role] == "admin") || (session[:user_role] == "manager") %>
    <li class="nav-header">Access</li>
    <ul class="nav">
    <li><%= link_to image_tag( "users.png", :border => 0, :align => "top" ) + " " + t('.tab_users'), users_path %></li>
    <li><%= link_to image_tag( "roles.png", :border => 0, :align => "top" ) + " " + t('.tab_roles'), roles_path %></li>
    <li><%= link_to image_tag( "creds1.png", :border => 0, :align => "top" ) + " " + t('.tab_credentials'), credentials_path %></li>
    </ul>
  <% end %>
  
  <% if session[:user_role] == "admin" %>
    <li class="nav-header">Administration</li>
    <ul class="nav">
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= image_tag( "settings.png", :border => 0, :align => "top" ) %> <%= t('.tab_settings') %><b class="caret"></b></a>
       <ul class="dropdown-menu">
        <li><%= link_to image_tag( "servers.png", :border => 0, :align => "top" ) + " " + 'Database Servers', home_path %></li>
        <li><%= link_to image_tag( "drivers.png", :border => 0, :align => "top" ) + " " + 'Database Drivers', home_path %></li>
        <li class="divider"></li>
        <li><%= link_to t('.tab_home'), home_path %></li>
        
        <li class="divider"></li>
        <li><%= link_to t('.tab_home'), home_path %></li>
      </ul>
    </li>
    </ul>
  <% end %>
<% end %>
