<%= form_for(@credential) do |f| %>
  <% if @credential.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@credential.errors.count, "error") %> prohibited this credential from being saved:</h2>

      <ul>
      <% @credential.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 
  <table>
  <tr>
    <td align="right" style="width:100px"><%= f.label t('.depot_name') %></td>
    <td><%= collection_select :credential, :depot_id, Depot.find(:all), :id, :dep_name %></td>
  </tr>
  <tr><td><br></td></tr>
  <tr>
    <td align="right" style="width:100px"><%= f.label t('.user_name') %></td>
    <td><%= collection_select :credential, :user_id, User.find(:all), :id, :name %></td>
  </tr>
  <tr><td><br></td></tr>
  <tr>
    <td align="right" style="width:100px"><%= f.label t('.role_name') %></td>
    <td><%= collection_select :credential, :role_id, Role.find(:all), :id, :name %></td>
  </tr>
  </table>
  
  <br>
  <button type="submit" class="btn btn-primary"><%= t('.submit') %></button>
  
<% end %>
