
<h3><%= image_tag( "creds1.png", :border => 0, :valign => "middle" ) %> <%= t('.credentials') %> <%= link_to image_tag('tooltip12x12.png', :border => 0, :align => "top"), nil, title: t('.creds_tooltip'), rel: 'popover' %></h3>

<% unless notice.nil? %>
  <div class="container center alert alert-success"  style="width:500px">
    <p id="notice"><%= notice %></p>
  </div>
<% end %>

<% if flash[:alert] %>
  <div class="container center alert alert-error"  style="width:500px">
    <p id="alert"><%= flash[:alert] %></p>
  </div>
<% end %>

<table class="table table-striped table-bordered table-condensed">
  <tr style="background-color: #44721e">
    <form class="filter_form">
      <th style="background-color: #91b96f"><%= sortable t('.project_name') %>
      <%= select("depot", "id", Depot.all.collect {|p| [ p.dep_name, p.id ] }, {:include_blank => 'All'} ) %>
      <input type="submit" value="Filter" />
      </th>
    </form>

    <th style="background-color: #91b96f"><%= sortable t('.user_name') %></th>
    <th style="background-color: #91b96f"><%= sortable t('.role_name') %></th></th>
    <th style="text-align: center; width: 50px; background-color: #91b96f"><%= t('.read') %></th>
    <th style="text-align: center; width: 50px; background-color: #91b96f"><%= t('.write') %></th>
    <th style="text-align: center; width: 50px; background-color: #91b96f"><%= t('.execute') %></th>
    
    <th style="text-align: center; background-color: #91b96f" colspan=3><%= t('.actions') %></th>
  </tr>

<% @credentials.each do |credential| %>
  <tr>
    <td><%= get_DepotName(credential.depot_id) %></td>
    <td><%= get_UserName(credential.user_id) %></td>
    <td><%= get_RoleName(credential.role_id) %></td>
    <td style="text-align: center"><% if get_RoleRead(credential.role_id) == 1 %><%= t('.yes') %><% else %><%= t('.no') %><% end %></td>
    <td style="text-align: center"><% if get_RoleWrite(credential.role_id) == 1 %><%= t('.yes') %><% else %><%= t('.no') %><% end %></td>
    <td style="text-align: center"><% if get_RoleExecute(credential.role_id) == 1 %><%= t('.yes') %><% else %><%= t('.no') %><% end %></td> 
    
    <td style="text-align: center;width:30px"><%= link_to t('.show'), credential %></td>
    <td style="text-align: center;width:30px""><%= link_to t('.edit'), edit_credential_path(credential) %></td>
    <td style="text-align: center;width:30px""><%= link_to t('.destroy'), credential, confirm: t('.confirm'), method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= button_to t('.new_credential'), new_credential_path , :class => "btn btn-primary btn-mini" %>
